div.small {
    font-size: 14pt;
}

div.medium {
    font-size: 28pt;
}

div.large {
    font-size: 56pt;
}

@media only screen and (max-width: 479px) {
    body {
      background-color: #bb2205;
        }
    div.medium, div.large, div.small {
        width: 100%;
        }
    }


  @media only screen and (min-width: 480px) and (max-width: 1023px) {
    body {
      background-color: #7ea04d;
    }
    .small {
        width: 66%;
        }
    .medium {
        width: 33%
    }
    .large {
        width: 100%
    }
    }
    

  @media only screen and (min-width: 1024px) {
    body {
      background-color: #407088;
    }
    .small,  .medium, .large {
        float: left;
        width: 33%;
    }
  }

